mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ffffff;
}

.toggles {
  display: flex;
  justify-content: flex-center;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 428px;
  height: 37px;
  align-items: center;
  font-size: medium !important;
}
.view-toggle > button {
  background-color: white;
  width: 50%;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 50px;
}
.time-toggle > button {
  background-color: white;
  width: 30%;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 50px;
}
.time-toggle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 308px;
  height: 37px;
  background: #f6f6f7;
  border: 1px solid #e4e4e4;
  border-radius: 50px;
  flex-grow: 0;
}

.view-toggle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 37px;
  background: #f6f6f7;
  border: 1px solid #e4e4e4;
  border-radius: 50px;
}
.user-piker {
  box-sizing: border-box;
  align-items: center;
  /* width: 150px; */
  height: 37px;
  border: 1px solid #e4e4e4;
  border-radius: 50px;
}
/* mat-icon {
  padding: 6px 6px;
} */

.header {
  position: relative;
  box-sizing: border-box;

  height: 53px;

  /* White */

  background: #ffffff;
  /* Stroke */

  border-bottom: 1px solid #e4e4e4;

  /* Inside auto layout */

  flex: none;
  order: 11;
  flex-grow: 0;
}
.flex-container {
  display: flex;
  padding-left: 0.5%;
}

.flex-container > div {
  margin: 1% 0.5%;
}
.planning-column {
  height: 73vh;
  border-radius: 6px;
  background-color: #f0f0f0;
}
.planning-column {
  background-color: #fafafa;
}
.datepickerRow {
  background-color: #F6F6F7;  
}
.datepicker {
  position: absolute;
  left: 10%;
  transform: translate(-50%, 0%);
  padding-top: 24px;

  /* border: 1px solid #e4e4e4;
  border-radius: 50px;
  padding-top: 10px; */

}
