<mat-drawer-container class="flex-container">
  <mat-drawer class="side-bar" mode="side" opened>
    <mat-card class="calendar-card">
      <mat-calendar [(selected)]="selectedDate"></mat-calendar>
    </mat-card>
    <div class="agendas-container">
      <p>Aganda's</p>
      <div>
        <button class="user-piker" mat-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
          Agenda toevoegen
        </button>
      </div>
      <div class="user-list">
        <div class="label" *ngFor="let user of selectedUsers">
          <p [ngStyle]="{
          'background-color': 'var(--color-' + user.userType + ')'        
        }"
         class="avatar">
            {{ user.displayName | slice : 0 : 1
            }}{{ user.displayName.split(" ")[1] | slice : 0 : 1 }}
          </p>
          <div class="user-vert-flex">
            {{ user.displayName }}

            <div *ngIf="user.discipline; else client" class="user-type">
              {{ user.discipline }}
            </div>
            <ng-template #client>
              <div class="user-type">Client</div>
            </ng-template>
            <!-- <mat-icon>remove_red_eye</mat-icon> -->
          </div>
        </div>
      </div>
    </div>
    <div class="legenda">
      <div class="test1"> Client</div>
      <div class="test2"> Psycholoog (PS)</div>      
      <div class="test3"> Psycholoog(LV) </div>
      <div class="test4"> Psycholoog (CGT)</div>
      <div class="test5"> RegieRegiebehandelaar</div>
      <div class="test6"> Fysiotherapeut</div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="columns-flex-container">
    <div class="planning-columns-container">
      <app-column
        *ngFor="let user of selectedUsers"
        [currentDate]="selectedDate"
        [currentUser]="user"
        (delete)="deleteFromList($event)"
      ></app-column>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
