<mat-drawer-container class="flex-container">
  <mat-drawer class="side-bar" mode="side" opened>
    <mat-card class="calendar-card">
      <mat-calendar [(selected)]="selectedDate"></mat-calendar>
    </mat-card>
    <!-- <p>Selected date: {{selectedDate | date:'d MMMM YYYY'}}</p> -->
    <div class="agendas-container">
      <p>Aganda's</p>
      <div class="user-piker">
        <button mat-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
          Agenda toevoegen
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="columns-flex-container">
    <div class="planning-column">
      <app-column
        [currentDate]="selectedDate"
        [currentUser]="selectedUser"
      ></app-column>
    </div>
    <div class="planning-column">
      <app-column
        [currentDate]="selectedDate"
        [currentUser]="selectedUser"
      ></app-column>
    </div>
    <div class="planning-column">
      <app-column
        [currentDate]="selectedDate"
        [currentUser]="selectedUser"
      ></app-column>
    </div>
    <div class="planning-column">
      <app-column
        [currentDate]="selectedDate"
        [currentUser]="selectedUser"
      ></app-column>
    </div>
    <div class="planning-column">
      <app-column
        [currentDate]="selectedDate"
        [currentUser]="selectedUser"
      ></app-column>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
