<div class="container">
  <!-- <div class="dashbord"> -->
    <h2>Practitioners:</h2>
    <button a [routerLink]="['/practitioners/', '0']" mat-fab extended  >
      <mat-icon>add_circle_outline</mat-icon> Add new practitioner
    </button>
  <!-- </div> -->
 <div class="mat-elevation-z8"></div>
  <table mat-table [dataSource]="dataSource" >
    <!-- <ng-container
      [matColumnDef]="column"
      *ngFor="let column of displayedColumns"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td  mat-cell *matCellDef="let emp"> {{ emp[column] }}</td>
    </ng-container> -->

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td a [routerLink]="['/practitioners/', element.id]"  mat-cell *matCellDef="let element"> {{element.displayName}} </td>
    </ng-container>
  

    <ng-container matColumnDef="discipline">
      <th mat-header-cell *matHeaderCellDef> Discipline </th>
      <td mat-cell  *matCellDef="let element" a [routerLink]="['/practitioners/', element.id]" > {{element.discipline}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  mat-row *matRowDef="let emprow; columns: displayedColumns " > </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<!-- <div class="verticalLine"></div> -->
