mat-toolbar {
  padding-top: 20px;
}
.button {
  padding: 0 10px 0 10px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
}
header {
  display: flex;
  flex-direction: row;
  padding: 0 16px;
}
header > button {
  align-self: flex-end;
  border: none;
}

.filter {
  padding-left: 40%;
}
footer {
  display: flex;
  flex-direction: row;
}

.selected {
  background-color: #d9c8f4 !important;
  color: white !important;
  font-size: xx-large;
  font-weight: bold;
}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
