<mat-drawer-container class="flex-container">
  <mat-drawer class="side-bar" mode="side" opened position="end">
    <mat-card class="calendar-card">
      <mat-calendar [(selected)]="selectedDate"></mat-calendar>
    </mat-card>
    <div class="agendas-container">
      <p>Aganda's</p>
      <div>
        <button class="user-piker" mat-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
          Agenda toevoegen
        </button>
      </div>
      <div class="user-list" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="selectedUsers" cdkDrag *ngFor="let user of selectedUsers" 
        [cdkDragDisabled]="user.isPinned" 
        [ngStyle]="user.isPinned ? {'font-size': '14px',        
        'border-bottom':' 5px solid var(--color-' + user.userType + ')'
        
        } : {}"> 
          <p  [ngStyle]="{'background-color': 'var(--color-' + user.userType + ')','opacity':'1'}"
            class="avatar"
          >
            {{ user.displayName | slice : 0 : 1
            }}{{ user.displayName.split(" ")[1] | slice : 0 : 1 }}
          </p>
          <div class="user-vert-flex" >
            {{ user.displayName }}

            <div *ngIf="user.discipline; else client" class="user-type">
              {{ user.discipline }}
            </div>
            <ng-template #client>
              <div class="user-type">Client</div>
            </ng-template>
          </div>
          <div class="settings">
            <button mat-menu-item (click)="hideUser(user)">
              <mat-icon *ngIf="!user.isHidden">visibility</mat-icon>
              <mat-icon *ngIf="user.isHidden && !user.isPinned">visibility_off</mat-icon>
           
            </button>
            <button class="settings" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item disabled> 
                <mat-icon>push_pin</mat-icon>
                <span>Pin als eerste</span>
              </button>

              <button mat-menu-item (click)="deleteFromList(user)">
                <mat-icon>close</mat-icon> <span>Verwijder uit de list </span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="legenda">
      <div class="test1">Client</div>
      <div class="test2">Psycholoog (PS)</div>
      <div class="test3">Psycholoog(LV)</div>
      <div class="test4">Psycholoog (CGT)</div>
      <div class="test5">Regiebehandelaar</div>
      <div class="test6">Fysiotherapeut</div>
    </div>
  </mat-drawer>
  <mat-drawer
    *ngIf="pinnedUser.length > 0"
    class="pinned"
    mode="side"
    opened
    position="start"
  >
    <app-column
      *ngIf="pinnedUser.length > 0"
      [currentDate]="selectedDate"
      [currentUser]="pinnedUser[0]"
      (delete)="deleteFromList($event)"
      (pinUser)="pinUser($event)"
    ></app-column>
  </mat-drawer>

  <mat-drawer-content class="columns-flex-container">
   
    <div class="planning-columns-container">
      <ng-container *ngFor="let user of selectedUsers">
        <app-column
          *ngIf="!user.isHidden"
          [currentDate]="selectedDate"
          [currentUser]="user"
          [pinned] = 'pinnedUser.length>0'
          (delete)="deleteFromList($event)"
          (pinUser)="pinUser($event)"
        ></app-column>
      </ng-container>
    </div>
     <app-test-calendar [currentDate]="selectedDate"></app-test-calendar>
  </mat-drawer-content>
</mat-drawer-container>
