mat-toolbar-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ffffff;
}

.user-piker {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  position: absolute;
  width: 208px;
  height: 34px;
  left: 8px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
}

.header {
  position: relative;
  box-sizing: border-box;
  height: 53px;
  background: #ffffff;
  border-bottom: 1px solid #e4e4e4;

  /* Inside auto layout */

  flex: none;
  order: 11;
  flex-grow: 0;
}
.flex-container {
  display: flex;
  padding-left: 1%;
  top: 1%;
  
}
.side-bar {
  height: 938px;
  width: 224px;
  border-radius: 6px;
}

.planning-columns-container {
  height: calc(97vh - 64px);
  display: flex;
  gap: 5px;
}
app-column {
  width: 360px;
  border-radius: 6px;
  background-color: white;
  /* border: 1px solid #c6c6c6; */
}
app-test-calendar{
  width: 360px;
  border-radius: 6px;
  background-color: white;
  /* left: 6px; */
  right: 6px;
  position: relative;
}


.columns-flex-container {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}
.agendas-container {
  position: relative;
  /* top: 10px; */
  /* left: 4px; */
  /* padding: 5px; */
  height: 47.5%;
  padding: 20px 5% 0;
}
.user-list {
  position: relative;
  top: 60px;
    /* width: 500px; */
  max-width: 100%;
  /* border: solid 1px #ccc; */
  min-height: 60px;
  display: block;
  background: white;
  /* border-radius: 4px; */
  overflow: hidden;
}
.selectedUsers {
  display: flex;
  flex-direction: row;
  align-items: center;


  cursor: move;
  background: white;

}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  /* background: linear-gradient(315deg, #6ded91 0%, #009f1a 100%);  */
  font-weight: 600;
  /* font-size: 12px; */
  color: #ffffff;
  bottom: -4px;
  margin-right: 6px;
  position: relative;
  font-size: xx-small;
}

.selectedUsers > div {
  display: flex;
   
  font-weight: 500;
  font-size: 12px;
  
}
.cdk-drag.selectedUsers.ng-star-inserted{
padding-top: 5px !important; 
}
.cdk-drag.selectedUsers.ng-star-inserted.cdk-drag-disabled{
  /* padding-top: 10px !important; */
  cursor: default !important;
  position: relative;
}


mat-drawer{
  margin: 0;

}
.pinned{
  width: 360px;
  top: 0;
  border-right: solid #767474;
  border-top: none;
}
.user-vert-flex{
  display: flex;
  flex-direction: column;
}
.settings{
  position: absolute;
  right: 0;
}
/* .hide{
  position: absolute;
  right: 40px;
} */


.selectedUsers > div>div >button {   
  color: #ccccce;
  background-color: #ffffff;
  border: none !important;
  padding: 0;
}
mat-icon{
font-size: medium !important;
}
/* .icons{
  align-self: end;
  padding: 0;

} */

.user-type,
ng-template {
  position: relative;
  top: -6px;
  font-weight: 400;
  font-size: 10px;
  /* color: rgb(150, 150, 150); */
}
.legenda {
  color: white !important;
  text-align: center;
}
.test1 {
  background-color: var(--color-0);
}
.test2 {
  background-color: var(--color-1);
}
.test3 {
  background-color: var(--color-2);
}
.test4 {
  background-color: var(--color-3);
}
.test5 {
  background-color: var(--color-4);
}
.test6 {
  background-color: var(--color-5);
}

/* drag and drop  */

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
