<div class="container">
  <mat-card class="card">
    <form action="" [formGroup]="practitionerForm" (ngSubmit)="onSubmit()">
      <mat-card-title><h2>Practitioner</h2></mat-card-title>
      <mat-form-field>
        <mat-label>display name</mat-label>
        <input
          matInput
          type="text"
          value="{{ name }}"
          required
          minlength="2"
          formControlName="displayName"
        />
        <small
          *ngIf="formControls['displayName'].errors?.['required'] && formControls['displayName'].touched"
          >Name is required!</small
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>discipline:</mat-label>
        <mat-select
          formControlName="discipline"
          [(value)]="selectedDiscipline"
          required
        >
          <mat-option
            *ngFor="let discipline of disciplines"
            [value]="discipline"
          >
            {{ discipline }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions>
        <button
          type="submit"
          [disabled]="!practitionerForm.valid"
          mat-fab
          extended
        >
          <mat-icon>edit</mat-icon> Save
        </button>

        <button (click)="delete()" *ngIf="!isNew" mat-fab extended color="warn">
          <mat-icon>delete</mat-icon> Delete
        </button>
        <span class="menu-spacer"></span>

        <button
          class="close"
          a
          [routerLink]="['/practitioners']"
          mat-fab
          extended
          color="Basic"
        >
          <mat-icon>close</mat-icon>Back to list
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
