mat-toolbar-row {
  /* height: 48px; */
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* .flex-container[_ngcontent-drv-c308] > div[_ngcontent-drv-c308] {
  margin: 10px;
} */
.user-label {
  display: flex;
  align-self: center;
  flex-direction: row;
}
.user-type {
  background: linear-gradient(0deg, #dbeafe, #dbeafe),
    linear-gradient(0deg, #eff6ff, #eff6ff);
  height: 24px;
  width: 53px;
  border-radius: 50px;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  align-self: center;
}
.buttons-right {
  display: flex;
  align-self: center;
  flex-direction: row;
}

.datum-week {
  padding: 1% !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.datum-dag {
  height: 24px;
  left: 26px;
  top: 8px;

  /* Body / Semibold */

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Lightgrey */

  color: #787878;
}
