<mat-toolbar>
  <mat-toolbar-row>
    <div class="user-label">
      <p class="avatar">
        {{ currentUser.displayName | slice : 0 : 1
        }}{{ currentUser.displayName.split(" ")[1] | slice : 0 : 1 }}
      </p>
      <div>{{ currentUser.displayName }}</div>
      <div *ngIf="currentUser.discipline; else client" class="user-type">
        {{ userType | lowercase }}
      </div>
      <ng-template #client>
        <div class="user-type">client</div>
      </ng-template>
    </div>
    <div class="buttons-right">
      <button (click)="closeMe()"><mat-icon>close</mat-icon></button>
      <mat-icon>more_vert</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <div class="datum-week">
  {{ currentDate | date : " MMMM  y" }}, week {{ currentDate | date : "w" }}
</div> -->
<div class="datum-dag">
  {{ currentDate | date : "EEEE d MMMM " }}
  <mat-divider></mat-divider>
</div>

<div class="grid-container">
  <div class="grid-box-hours">
    <div
      class="timestamp"
      *ngFor="let hour of [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]"
    >
      <div>{{ hour }}</div>
    </div>
  </div>
  <!-- <div class="grid-box-little-divider" > 
     <div *ngFor="let hour of [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,19]">     
      <mat-divider></mat-divider>
    </div>
  </div> -->
  <div class="grid-box">
    <ng-container *ngIf="appointmentsList.length > 0">
      <!-- <app-appointment
        class="app"
        *ngFor="let app of appointmentsList"
        [start]="app.startTime"
        [end]="app.endTime"
      >
      </app-appointment> -->

      <div
        [ngStyle]="{
          height: app.duration * 58.58 + 'px',
          top: (app.start - 7) * 58.58 + 151 + 'px'
        }"
        class="app"
        *ngFor="let app of appointmentsList"
      >
        <div class="appInfo">
          <div>
            Intake gesprek met
            <span *ngIf="userType == 'client'; else otherUser">{{app.practitioner.displayName}}</span>
            <ng-template #otherUser>{{app.client.displayName}}</ng-template>
            <!-- <span *ngIf="userType == 'client'">{{app.practitioner.displayName}}</span> -->

          </div>

          <div>{{ app.startTime }} - {{ app.endTime }}</div>
        </div>
      </div>
    </ng-container>
    <div
      class="app-cell"
      *ngFor="let hour of [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]"
    >
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
