* {
  background-color: white !;
  padding: 0 5px !important;
}
mat-toolbar-row {
  /* height: 48px; */
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* .flex-container[_ngcontent-drv-c308] > div[_ngcontent-drv-c308] {
  margin: 10px;
} */
.user-label {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
}
.buttons-right {
  position: relative;
  padding-right: 0;
}

.datum-week {
  padding: 1% !important;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
