<mat-toolbar>
  <mat-toolbar-row
    [ngStyle]="{
      'background-color': 'var(--color-' + currentUser.userType + ')'
    }"
  >
    <div class="user-label">
      <!-- <p  class="avatar">
        {{ currentUser.displayName | slice : 0 : 1
        }}{{ currentUser.displayName.split(" ")[1] | slice : 0 : 1 }}
      </p> -->
      <div>{{ currentUser.displayName }}</div>
      <div *ngIf="currentUser.discipline; else client" class="user-type">
        {{ userType | lowercase }}
      </div>
      <ng-template #client>
        <div class="user-type">client</div>
      </ng-template>
    </div>

    <div class="buttons-right">
      <button   (click)="closeMe()"><mat-icon>close</mat-icon></button>
      <button
       
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="pinMe()">
          <mat-icon><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m20.97 17.172l-1.414 1.414l-3.535-3.535l-.073.074l-.707 3.535l-1.415 1.415l-4.242-4.243l-4.95 4.95l-1.414-1.414l4.95-4.95l-4.243-4.243L5.34 8.761l3.536-.707l.073-.074l-3.536-3.536l1.414-1.415L20.97 17.172ZM10.365 9.394l-.502.502l-2.822.565l6.5 6.5l.564-2.822l.502-.502l-4.242-4.243Zm8.411.074l-1.34 1.34l1.414 1.415l1.34-1.34l.707.706l1.415-1.414l-8.486-8.485l-1.414 1.414l.707.707l-1.34 1.34l1.414 1.415l1.34-1.34l4.243 4.242Z"/></svg></mat-icon>
          <span>Pin als eerste</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>visibility</mat-icon>
          <span>Hide</span>
        </button>
   
      </mat-menu>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <div class="datum-week">
  {{ currentDate | date : " MMMM  y" }}, week {{ currentDate | date : "w" }}
</div> -->
<div class="datum-dag">
  {{ currentDate | date : "EEEE d MMMM " }}
  <mat-divider></mat-divider>
</div>

<div class="grid-container">
  <div class="grid-box-hours">
    <div
      class="timestamp"
      *ngFor="let hour of [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]"
    >
      <div>{{ hour }}</div>
    </div>
  </div>
  <!-- <div class="grid-box-little-divider" > 
     <div *ngFor="let hour of [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,19]">     
      <mat-divider></mat-divider>
    </div>
  </div> -->
  <div class="grid-box">
    <ng-container *ngIf="appointmentsList.length > 0">
      <!-- <app-appointment
        class="app"
        *ngFor="let app of appointmentsList"
        [start]="app.startTime"
        [end]="app.endTime"
      >
      </app-appointment> -->

      <div
        [matTooltip]="
          'Intake gesprek met ' +
          (userType == 'client'
            ? app.practitioner.displayName + ', ' + app.practitioner.discipline
            : app.client.displayName) +
          ' - ' +
          '\n Tijd: ' +
          app.startTime +
          ' - ' +
          app.endTime
        "
        [ngStyle]="{
          height: app.duration * 58.58 + 'px',
          top: (app.start - 7) * 58.58 + 151 + 'px',
          'background-color':
            currentUser.userType == '0'
              ? 'var(--color-' + app.practitioner.userType + ')'
              : 'var(--color-0)'
        }"
        class="app"
        *ngFor="let app of appointmentsList"
      >
        <div class="appInfo">
          <div>
            Intake gesprek met
            <span *ngIf="userType == 'client'; else practitioner"
              >{{ app.practitioner.displayName }},
              {{ app.practitioner.discipline }}</span
            >
            <ng-template #practitioner>{{
              app.client.displayName
            }}</ng-template>
            <!-- <span *ngIf="userType == 'client'">{{app.practitioner.displayName}}</span> -->
          </div>

          <!-- <div>{{ app.startTime }} - {{ app.endTime }}</div> -->
        </div>
      </div>
    </ng-container>
    <div
      class="app-cell"
      *ngFor="let hour of [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]"
    >
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
